.category-tree {
    height: 300px;
    overflow: auto;
    background: #fff;
}

.category-tree .list-group .list-group-item {
    padding: 3px;
}

.invoice-qty-cell {
    padding: 0;
}

.invoice-qty-cell input {
    width: 100%;
    background: transparent;
    border: 0;
    text-align: center;
}

.invoice-qty-cell input:focus {
    background: #fff;
}

.list-item-selectable:hover {
    cursor: pointer;
    background: #b9b9b9;
}
