.nav .breadcrumb {
    margin: 0 7px;
}
@media (min-width: 768px) {
    .nav .breadcrumb {
        float: left;
        margin: 7px 10px;
    }
}
.btn-space {
    margin-right: 5px;
}

.btn-double-space {
    margin-right: 16px;
}

.input-space
{
    margin: 4px;
}

.input-kv
{
    min-width: 150px;
    text-align: left;
}

.th-notop
{
    border-top: 0 !important;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.nav-tabs {
    margin-bottom: 0;
}

.padFix {
    padding-top:8px;
}

.grayed-out
{
    opacity: 0;
}

.like-heading:hover .grayed-out
{
    opacity: 1 !important;
}

.list-group.like-group
{
    margin: 5px 0;
}

.full-screen-ready
{
}

.full-screen-ready:-webkit-full-screen {
    width: 100vw !important;
    height: 100vh !important;
    background: #ffffff !important;
}

.full-screen-ready:-moz-full-screen {
    width: 100vw !important;
    height: 100vh !important;
    background: #ffffff !important;
}

.full-screen-ready:-ms-fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    background: #ffffff !important;
}

.full-screen-ready:fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    background: #ffffff !important;
}

.fa-spin-hover:hover i {
    -webkit-animation:fa-spin 2s infinite linear;
    animation:fa-spin 2s infinite linear;
}

.flex, .flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

body,html{
    height: 100%;
}

nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.main{
    padding: 6px 6px 0 6px;
}

.main{
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 40px;
    float: right;
}

nav.sidebar:hover + .main {
    margin-left: 200px;
}
nav.sidebar.fixed-opened + .main {
    margin-left: 200px;
}

nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
}

nav.sidebar a{
    padding-right: 13px;
}

nav.sidebar .navbar-nav .dropdown-menu .divider {
    background-color: #444444;
}

nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #262a2f;
    color: #FFFFFF;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #919dac;
}

nav.sidebar{
    width: 200px;
    height: 100%;
    margin-left: -160px;
    float: left;
    margin-bottom: 0px;

    position: fixed;
    overflow:auto;
}

nav.sidebar li {
    width: 100%;
}

nav.sidebar:hover{
    margin-left: 0px;
}

nav.sidebar.fixed-opened{
    margin-left: 0px !important;
}

.forAnimate{
    opacity: 0;
}

nav:hover .forAnimate{
    opacity: 1;
}

section{
    padding-left: 15px;
}

.navbar-title {
    vertical-align: middle;
}

.navbar-title {
    padding-bottom: 4px;
    background-color: #262a2f !important;
    color: #FFFFFF !important;

    border-bottom: 1px solid #919dac;
}

.navbar-title a {
    color: #FFFFFF !important;
    font-weight: bold;
}

.navbar-title img {
    width: 32px;
    height: 32px;
    margin-right: -8px;
    margin-top: -6px;
	filter: invert(0%);
}

#service-breadcrumbs {
    margin-bottom: 5px !important;
}

.form-field-description {
    font-size: 22px;
}

.navbar-header-fixed {
    margin-left: 16px !important;
}

.navbar-button-fixed {
    border: 0px !important;
}

.right-menu-fx {
    top: 2px;
    position: absolute;
    right: 20px;
}