@include portal-type-font-awesome-icon(ftw-iframeblock-iframeblock, file-code-o);

.ftw-iframeblock-iframeblock .sl-block-content {
  position: relative;

  .iframeSpinner {
    display: none;
  }

  .iframeSpinner.loading {
    background-color: transparent;
    background-image: url('#{$portal_url}/#{$spinner-url}');
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 200px;
    position: absolute;
    visibility: visible;
    width: 100%;
  }

  iframe {
    position: relative;
  }
}

@include ie-only(".sl-can-edit .ftw-iframeblock-iframeblock .sl-block-content") {
  @include fix-iframe-cursor();
}

@include ie-only(".sl-can-edit .ftw-iframeblock-iframeblock iframe") {
  @include fix-iframe-hover();
}

@include ie-only(".ftw-iframeblock-iframeblock .sl-block-content") {
  .iframeSpinner.loading {
    z-index: 1;
  }
}
