/* The following properties must be in appliance of the SVG 1.1 styling specification
   (https://www.w3.org/TR/SVG11/styling.html#SVGStylingProperties). */

#background {
  fill: lightGray;
}

#question, .proposal-ref {
  font-size: 20;
  font-family: sans-serif;
}
