/* This file is part of 'The Ember Factory', but you may copy anything from it without giving credit */

body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  margin-top:15px;
  line-height: 1.3em;
}
/* For more development about fonts, consider reading
https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Fundamentals */

.outerbox {
  max-width: 750px;
  margin: auto;
  padding: 0px 20px 0px 20px;
  border-width: 0 thin 0 thin;
  border-style: solid;
  border-color: #444;
}

.outerbox-main {
  background-color: #FFF;
  min-height: calc(100vh - 60px);
}

footer {
  background-color: #EEE;
  max-width: 750px;
}

.innerframe
{
  border-radius: 5px;
  border: thin solid;
  border-color: #999;
  padding: 10px;
  margin-top: 12px;
}

.slbox
{
  border: solid;
  border-color: #999;
  border-width: 0 0 0 2px;
  padding-left: 8px;
  margin: 8px 0px 15px 0px;
}

.icon{
	width:1.5em;
	height:1.5em;
	vertical-align: text-bottom;
}

p{
    margin-top: 10px;
    margin-bottom: 8px;
}

h1, h2{
    margin-top: 16px;
    margin-bottom: 8px;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 6px;
}

.compact{
    margin-top: 2px;
    margin-bottom: 1px;
}

legend{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
}

label.check {
    margin: -16px 10px 2px 20px;
    float:left;
}

.efbox::after{
   content: "";
   display: block;
   clear: both;
}

.btn {
  display: inline-block;
  background-color: #F5F5F5;
  height: 100%;
  border: 1px solid;
  margin: 0px 0px 5px 5px;
  border-color: #A55;
  border-radius: 2px;
  color: Black;
  cursor: pointer;
  padding: 0.3rem;
  font-size: 13px;
  font-family: Helvetica,Arial,sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
}

.btn:hover {
  background-color: #FDC;
}

.hidden{
  display: none;
}

.clearfix {
  overflow: auto;
}

.navbar {
  overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 18px;
  font-size: 15px;
  background-color: #A55;
  background-image: linear-gradient(to right, #C2001C, #D33, #E84, #FCA);
}

.navbar a {
  float: left;
  color: #BBD;
  padding: 6px 20px;
  border: 2px solid transparent;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgba(0,0,0, 0.2);
  color: white;
}

.navbar a.active {
  background-color: transparent;
  color: white;
  border: 2px solid black;
}

