.mybox {
  background-color: white;
  max-width: 750px;
  min-height: calc(100vh - 90px);
  padding: 10px;
  margin: auto;
}

.icon{
	width:1.5em;
	height:1.5em;
	vertical-align: text-bottom;
}

img{
}

body{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
}

footer {
  height: 30px;
  background-color: white;
  max-width: 750px;
  padding: 10px;
  margin: auto;
}

p{
    margin-top: 14px;
    line-height: 1.2em;
}

.compact{
    margin-bottom: 0px;
    margin-top: 2px;
}

legend{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
}

label.check {
    margin: -16px 10px 2px 20px;
    display:inline;
    float:left;
}

.btn {
  background-color: LightBlue;
  border: none;
  border-radius: 4px;
  color: Black;
  margin: 4px;
  padding: 4px;
  cursor: pointer;
  font-size: 14px;
  font-family: Helvetica,Arial,sans-serif;
  text-decoration: none;
}

.btn:hover {
  background-color: LightGreen;
}

.hidden{
  display: none;
}

.clearfix {
  overflow: auto;
}